:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
  font-family:'Poppins', sans-serif;
  background-color: #fff;
  color: #222;
  scroll-behavior: smooth;
  line-height: 1.4;
}

body {
  margin: 0;
}

img {
  display: flex;
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 .1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav {
  background-color: white;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  padding-left: 1.25em;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  color: red;
}

.gallery img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 2%;
}

.special {
  background-color: white;
  padding: 4em;
}

.special dl{
  list-style: none;
}

.button {
  display: inline-block;
  padding: 1em 1em;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.button a:visited,
.button a:link {
text-decoration: none;
color: #fff;
}

.button a:hover,
.button a:focus {
  color: red;
}

.about {
  background-color: white;
  padding: 4em;
  }
    
.about h3 {
  text-align: center;
  padding: 0;
}


.reviews {
  background-color: black;
  color: white;
  padding: 4em;
}

.quote {
  display: flex;
  justify-content: space-between;

}

.shop {
  padding: 4em;
}

.product-grid img {
  max-width: 100%;
  max-height: 100%;
  border-top-right-radius: 4%;
  border-top-left-radius: 4%;
}

.product-grid div {
  background-color: #f7f7f7;
  border-radius: 4%;
  text-align: center;
}

footer {
  display: flex;
  background-color: white;
  color: black; 
  justify-content: center;
  padding: 4em 0;
}

/* Media Query*/

@media (min-width: 38em) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 1em;
  }
  
  .wide {
    grid-column: span 3;
  }

  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 2em;
  }

  .quote {
    max-width: 50%;
    text-align: center;
    display: flex;
  }

}

@media (min-width: 60em) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    padding: 2em;
  }
  
  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    } 
   }
  

  /* Fluid Type */
  h2 { 
    font-size: var(--font-size-xl);
    text-align: center;
  }
  
  h3 { 
    font-size: var(--font-size-lg);
    text-align: center;
  }
  
  h4 {
    font-size: var(--font-size-md);
  }
  
  h5 {
    font-size: var(--font-size-base);
  }
  
  h6 {
    font-size: var(--font-size-sm);
  }
  
  p {
    font-size: var(--font-size-base)
  }
  
  small {
    font-size: var(--font-size-sm);
  }
  
  h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1;
  }